<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>GetDevicesServlet</servlet-name>
        <servlet-class>com.example.GetDevicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDevicesServlet</servlet-name>
        <url-pattern>/getDevices</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterDeviceServlet</servlet-name>
        <servlet-class>com.example.RegisterDeviceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterDeviceServlet</servlet-name>
        <url-pattern>/registerDevice</url-pattern>
    </servlet-mapping>
    
    <!-- Add mappings for your other servlets -->
</web-app>
